.wrapper {
    margin: 5px;
}

.face {
    width: 75px;
    height: 75px;
    border: solid black 2px;
    background-color: yellow;
    border-radius: 50px;
}

.leftEye {
    width: 6px;
    height: 6px;
    border: solid 1px black;
    border-radius: 6px;
    z-index: 1;
    position: relative;
    left: 32px;
    top: 26px;
    background-color: black;
}

.rightEye {
    width: 6px;
    height: 6px;
    border: solid 1px black;
    border-radius: 6px;
    z-index: 1;
    position: relative;
    left: 54px;
    top: 18px;
    background-color: black;
}

.mouth {
    width: 30px;
    height: 10px;
    border: black solid 1px;
    border-radius: 0 0 45px 45px;
    margin: 16px;
    position: relative;
    top: 1em;
    left: 1em;
    background-color: black;
}

#inner-left {
    width: 2px;
    height: 2px;
    border: solid 1px white;
    border-radius: 2px;
    position: relative;
    left: 2px;
    top: 2px;
    background-color: white;
    z-index: 2;
}

#inner-right {
    width: 2px;
    height: 2px;
    border: solid 1px white;
    border-radius: 2px;
    position: relative;
    left: 2px;
    top: 2px;
    background-color: white;
}

#left-fang {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 8px solid white;
    position: relative;
    top: -2px;
    left: 5px;
}

#right-fang {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 8px solid white;
    position: relative;
    top: -15px;
    left: 18px;
}

#left-brow {
    height: 5px;
    width: 15px;
    position: relative;
    top: 24px;
    left: 30px;
    transform: rotate(30deg);
    background-color: black;
}

#right-brow {
    height: 5px;
    width: 15px;
    position: relative;
    top: 15px;
    left: 48px;
    transform: rotate(-30deg);
    background-color: black;
}